@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", serif;
}

p {
  size: 15px;
}

button {
  width: 160px;
  height: 48px;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  transition: all 300ms ease;
}
